
bin
build

.vs
.vscode/ipch
.cache
.idea

cmake-build-debug

.DS_Store
__pycache__

log.txt

example/public/index.js

third_party/renderdoc/lib/macos

*.sublime-project
*.sublime-workspace