
bin
build

.vs
.vscode/ipch
.cache
.idea

cmake-build-debug

.DS_Store
__pycache__

log.txt

example/public/index.js
node_modules
yarn.lock

third_party/renderdoc/lib/macos

*.sublime-project
*.sublime-workspace
*.log

node/public/*.js

third_party/include/libuv
third_party/include/mimalloc
third_party/include/quickjs
third_party/lib
third_party/source